.jfx-hamburger-icon{
    -fx-spacing: 5;
    -fx-cursor: hand;
	
}
.jfx-hamburger-icon StackPane{
    -fx-pref-width: 400px;
    -fx-pref-height: 1000px;
    -fx-background-color : #D63333;
    -fx-background-radius : 5px;
}